<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Security入门</title>
<script type="text/javascript" src="${basePath}/static/js/jquery.min.js"></script>
<link href="${basePath}/static/css/comm.css" rel="stylesheet" style="text/css" />  
<script type="text/javascript">
var root = "${basePath}";
function oncl() {
	 $.ajax({
         type: "get",
         url: root + "/query/19.json",
         contentType: "application/json; charset=utf-8",
         success: function(data){
        	 console.log(data);
        	 $("#divdata").html(data.id + "---" + data.name + "----" + data.logName + "----" + data.userPassword);
         }
     });
}
</script>
</head>
<body>
	<h1>欢迎使用</h1>
	
	<h2><a href="${basePath}/user/list.html">用户菜单</a></h2>
</body>
</html>
