<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Security入门</title>
<script type="text/javascript" src="${basePath}/static/js/jquery.min.js"></script>
<link href="${basePath}/static/css/comm.css" rel="stylesheet" style="text/css" />  
<script type="text/javascript">
var root = "${basePath}";
function oncl() {
	 $.ajax({
         type: "get",
         url: root + "/query/19.json",
         contentType: "application/json; charset=utf-8",
         success: function(data){
        	 console.log(data);
        	 $("#divdata").html(data.id + "---" + data.name + "----" + data.logName + "----" + data.userPassword);
         }
     });
}

function prompt() {
	 $.ajax({
         type: "get",
         url: root + "/prompt.json",
         contentType: "application/json; charset=utf-8",
         success: function(data){
        	 if(data.isSuc) {
        		 alert("发送成功！");
        	 }
         }
     });
}

</script>
</head>
<body>
	<h1>${userName}欢迎使用</h1>
	
	<h2><a href="${basePath}/user/list.html">用户菜单</a></h2>
	<h2><a href="${basePath}/ws/ws.html">websocket</a></h2>
	<h2><a href="${basePath}/chatroom/chat.html">聊天室</a></h2>
	<h2><a href="${basePath}/prompt/prompt.html">提示信息</a></h2>
	<h2><button onclick="prompt()" value="发送提示消息">发送提示消息</button></h2>
	<h2><a href="${basePath}/logout.html">退出</a></h2>
	
</body>
</html>
